.admin-tp-button {
  border: 0.5px grey;
  border-style: solid none none none;
  transition: 0.3s;
}

.admin-tp-button:hover {
  box-shadow: 0px 0px 2px 0.5px grey;
  cursor: pointer;
}

.admin-tp-button-bottom {
  border-style: solid none;
}

.admin-tpe-button-item {
  border: 0.5px grey;
  border-style: solid none none none;
  transition: 0.3s;
}

.admin-tpe-button-item:hover {
  box-shadow: 0px 0px 2px 0.5px grey;
  cursor: pointer;
}

.admin-tpe-button-item-bottom {
  border-style: solid none;
}
