.cof-scrollDiv {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.cof-hs-container {
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
}
