.cof-scrollDiv {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.cof-hs-container {
  width: 100vw;
}

.cdp-tp-button {
  border: 0.5px grey;
  border-style: solid none none none;
  transition: 0.3s;
}

.cdp-tp-button:hover {
  box-shadow: 0px 0px 2px 0.5px grey;
}

.cdp-tp-button-bottom {
  border-style: solid none;
}
