.inner-settings-item {
  border: 0.5px grey;
  border-style: solid none none none;
  transition: 0.3s;
}

.inner-settings-item:hover {
  box-shadow: 0px 0px 2px 0.5px grey;
  cursor: pointer;
}

.inner-settings-item-bottom {
  border-style: solid none;
}

.settings-item:hover {
  background-color: #ff3e2c;
  cursor: pointer;
}
