*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.left{
  display: inline-block;
  padding: 25px;
  position: fixed;
  height: 100%;
  width: 20%;
  background: white;
  transition: all 0.5s ease;
}
.middle{
  overflow: scroll;
  padding: 50px;
  margin-left: 20%;
  width: 60%;
  height: 100%;
  display: inline-block;
}
.right{
  display: inline-block;
  position: fixed;
  width: 20%;
  text-align: center;
}