
.logo{
    color: black;
    height: 10%;
}
h2{
    font-size: 30px;
    color: black;
}
#monitor{
    margin-right: 5%;
      height: 750px;
      width: 100%;
      background-color: white;
      padding: 10px;
      justify-items: flex-end;
      display: flex;
      border-radius: 10px;
      
  }